<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender
        name="FILE"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR:-.}/ErrorLog.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>